<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.itaninew">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Daftar" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".Profil.EditProfil" />
        <activity android:name=".Board.Boarding" />
        <activity android:name=".KUR.Form.FormKUR" />
        <activity android:name=".KUR.Form.FormKUR2" />
        <activity android:name=".Komoditas.Komoditas" />
        <activity android:name=".Komoditas.Provinsi" />
        <activity android:name=".Komoditas.Kabupaten" />
        <activity android:name=".Komoditas.HargaKomoditas" />
        <activity android:name=".KUR.Form.FormKUR3" />
        <activity android:name=".KUR.Form.FormKUR4" />
        <activity android:name=".KUR.Form.FormKUR5" />
        <activity android:name=".KUR.Form.Persyaratan1" />
        <activity android:name=".KUR.Form.Persyaratan2" />
        <activity android:name=".KUR.Form.Persyaratan3" />
        <activity android:name=".KUR.OpsiKUR" />
        <activity android:name=".KUR.Form.ProsesKUR" />
        <activity android:name=".KUR.Form.PengajuanBaru" />
        <activity android:name=".KUR.Proses.ProsesDataKUR" />
        <activity android:name=".KUR.Progres.ProgresKUR" />
        <activity android:name=".Profil.EditGambar" />
        <activity android:name=".KUR.Progres.FormProgres" />
        <activity android:name=".KUR.Proses.DetilDataPetani" />
        <activity android:name=".ProfilPetani" />
        <activity android:name=".DataPetani" />
        <activity android:name=".VerifikasiKode"></activity>
    </application>

</manifest>