<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.itaninew">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen" />
        <activity android:name=".Daftar" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".Boarding" />
        <activity android:name=".OpsiKUR" />
        <activity android:name=".EditProfil">
            >
        </activity>
        <activity android:name=".FormEditProfil.FormEditNama" />
        <activity android:name=".FormEditProfil.FormEditNIK" />
        <activity android:name=".FormEditProfil.FormEditNoKK" />
        <activity android:name=".FormEditProfil.FormEditNoKTP" />
        <activity android:name=".FormEditProfil.FormEditAlamat" />
        <activity android:name=".FormEditProfil.FormEditLokasiTanah" />
        <activity android:name=".FormEditProfil.FormEditFotoSelfieKTP" />
        <activity android:name=".FormEditProfil.FormEditKTP" />
        <activity android:name=".FormEditProfil.FormEditKK" />
        <activity android:name=".FormEditProfil.FormEditAktaTanah" />
        <activity android:name=".FormEditProfil.FormEditAktaNikah" />
        <activity android:name=".Support" />
        <activity android:name=".FormKUR">
        </activity>
        <activity android:name=".FormKUR2" />
        <activity android:name=".Komoditas" />
        <activity android:name=".Provinsi" />
        <activity android:name=".Kabupaten" />
        <activity android:name=".Persyaratan2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormKUR3" />
        <activity android:name=".FormKUR4" />
        <activity android:name=".FormKUR5" />
        <activity android:name=".Persyaratan3"></activity>
    </application>

</manifest>